@media screen and (max-width: 360px) {

    .body-header {
        background-color: var(--amarillo);
        margin: 0px;
        font-family: var(--roboto);
        height: 143px;
    }

    .body-header .componentes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .body-header .componentes img {
        width: 50%;
        margin: 0
    }

    .body-header .componentes form {
        width: 50%;
        display: inline;
        margin: 20px 0;
    }

    .body-header .componentes form input {
        display: inline;
        color: var(--grisClaro);
        padding: 3px;
        font-size: small;
        border-radius: 3px;
        margin: 0px 11px;
    }

    .body-header .componentes .icono {
        font-size: 14px;
        background-color: white;
        padding: 3px;
        border: solid 1px var(--grisOscuro);
        display: inline;
        position: absolute;
        right: 12px;
        border-radius: 3px;
        border-left: 0;
    }

    .body-header .componentes p {
        font-size: 15px;
        margin: auto;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .body-header nav {
        color: black;
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: 80px;
        display: none;
    }

    .body-header nav .navbar-left {
        width: 150px;
        height: 80px;
        padding: 2px;
    }

    .body-header nav .navbar-left li {
        color: black;
        margin-left: 5px;
    }

    .body-header nav .navbar-left li a {
        text-decoration: none;
    }

    .body-header nav .navbar-right {
        width: 150px;
        height: 80px;
        padding: 2px;
    }

    .body-header nav .navbar-right li {
        color: black;
        margin-left: 5px;
    }

    .body-header nav .navbar-right li a {
        text-decoration: none;
    }

    .burger-menu {
        background-color: var(--azul);
        color: white;
        display: block;
        max-width: 36px;
        padding: 7px 0;
        border-radius: 3px;
        text-align: center;
        font-size: 15px;
        margin: auto;
    }

    .burger-menu i {
        color: white;
    }
}

@media screen and (min-width: 361px) {
    .body-header {
        background-color: var(--amarillo);
        margin: 0px;
        font-family: var(--roboto);
        height: 125px;
    }

    .body-header .componentes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .body-header .componentes img {
        width: 12%;
        margin: 26px;
    }

    .body-header .componentes form {
        display: inline;
        margin: 20px 0;
    }

    .body-header .componentes form input {
        display: inline;
        width: 300px;
        color: var(--grisClaro);
        padding: 9px;
        font-size: large;
        border-radius: 3px;
        margin: 0px 11px;
        border: none;
        /* padding-right: 30px; */
    }

    .body-header .componentes .icono {
        font-size: 12px;
        background-color: white;
        padding: 13px;
        display: inline;
        position: absolute;
        right: 282px;
        border-radius: 3px;
        color: var(--grisOscuro);
    }

    .body-header .componentes p {
        font-size: 15px;
        font-weight: 400;
        width: 180px;
        margin: 23px 9px 0 90px;
        text-align: right;
    }

    .body-header nav {
        color: black;
        margin: 14px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .body-header nav .navbar-left {
        padding: 2px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    .body-header nav .navbar-left li {
        color: black;
        margin-left: 5px;
    }

    .body-header nav .navbar-left li a {
        text-decoration: none;
    }

    .body-header nav .navbar-right {
        padding: 2px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    .body-header nav .navbar-right li {
        color: black;
        margin-left: 5px;
    }

    .body-header nav .navbar-right li a {
        text-decoration: none;
    }

    .burger-menu {
        background-color: var(--celeste);
        text-align: center;
        width: 35px;
        height: 35px;
        margin-left: 43%;
        margin-top: 10px;
        border-radius: 3px;
        display: none;
    }

    .burger-menu i {
        color: #ebebeb;
        padding-top: 9px;
    }
}

@media screen and (min-width: 769px) {
    .body-header {
        background-color: var(--amarillo);
        margin: 0px;
        font-family: var(--roboto);
        height: 170px;
        font-size: var(--cuerposDeTexto);
    }
   
    .body-header .componentes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .body-header .componentes img {
        width: 12%;
        margin: 26px;
    }

    .body-header .componentes form {
        display: inline;
        margin: 20px 0;
    }

    .body-header .componentes form input {
        display: inline;
        width: 400px;
        color: var(--grisClaro);
        padding: 8px;
        font-size: large;
        border-radius: 3px;
        border: none;
    }

    .body-header .componentes .icono {
        font-size: 12px;
        background-color: white;
        padding: 12px;
        display: inline;
        position: absolute;
        right: 391px;
        border-radius: 3px;
        color: var(--grisOscuro);
    }

    .body-header .componentes p {
        /* height: 21px; */
        font-size: 16px;
        font-weight: 400;
        text-align: right;
        width: 311px;
    }

    .body-header nav {
        color: black;
        margin: 14px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .body-header nav .navbar-left {
        padding: 2px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        font-size: large;
    }

    .body-header nav .navbar-left li {
        color: black;
        margin-left: 5px;
    }

    .body-header nav .navbar-left li a {
        text-decoration: none;
    }

    .body-header nav .navbar-right {
        padding: 2px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        font-size: large;
    }

    .body-header nav .navbar-right li {
        color: black;
        margin-left: 5px;
    }

    .body-header nav .navbar-right li a {
        text-decoration: none;
    }

    .burger-menu {
        background-color: var(--celeste);
        text-align: center;
        width: 35px;
        height: 35px;
        margin-left: 43%;
        margin-top: 46px;
        border-radius: 3px;
        display: none;
    }

    .burger-menu i {
        color: #ebebeb;
        padding-top: 9px;
    }
}